
.navbar{
    width: 100%;

    &-inner{
        width: 80%;
        margin: 0 auto;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }
    &-logo{
        &-heading{
            font-size: 3rem;
            font-weight: 100;
        }
    }
    &-list{
        list-style: none;
        display: flex;
        align-items: center;
        flex: 0 0 30%;
        justify-content: space-around;

        @include media-response(very-large){
            flex: 0 0 60%;
        }

        &-item{
            font-size: 1.6rem;
            color: $blue-dark;
            text-transform: uppercase;  
        }
    }
}